.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container input[type="radio"]{
    /* width: 0;
    opacity: 0; */
    display: none;
}
.container label{
    background-color: blanchedalmond;
    padding: 20px;
    border:2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin:10px;
}
.container label:hover{
    background-color: rgb(116, 101, 101);
    transform: scale(1.2);
}
.container input[type="radio"]:focus+label{
    background-color: green;
}